.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 350px;
  padding: 1rem;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

.map-area {
  flex-grow: 1;
}

/* Styles for components we've already made */
.metrics-container, .save-container {
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-container {
  top: 150px;
}

/* Styles for PolygonList */
.polygon-list-container ul {
  list-style-type: none;
  padding: 0;
}

.polygon-list-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.polygon-list-item p {
  margin: 5px 0;
}